$headerBackground: #fcdb00;
$headerColor: #222;
$SourceSansProRegular: 'Source Sans Pro Regular';
$FontAwesome: 'FontAwesome';
$SourceSansProBold: 'Source Sans Pro Bold';
$contentBackground: #fff;
$circleColor: #ebebeb;
$circleDarkColor: #010101;
$footerBackground: #010101;

.header {
    width: 100%;
    background-color: $headerBackground;
    padding: 60px 0 55px 0;

    &__navigation{
         width: 100%;
         height: 45px;
         margin-bottom: 255px;

         &__burger{
            flex-direction: column;
            width: 20px;
            height: 16px;
            margin-left: 10px;
            cursor: pointer;

            &__items{
                width: 100%;
                height: 4px;
                background-color: $headerColor;
            }
         }
         &__logo{
            width: 155px;
            height: 100%;

            &__heading{
                color: $headerColor;
                font-family: $SourceSansProBold;
                font-size: 30px;
            }
         }
         &__icons{
             width: 125px;

             &__items{
                 cursor: pointer;
             }
         }
    }
    &__info{
        margin: 0 auto;
        width: 500px;
        
        &__heading{
            text-align: center;
            color: $headerColor;
            font-family: $SourceSansProBold;
            font-size: 48px;
            margin-bottom: 25px;
        }

        &__text{
            text-align: center;
            font-size: 20px;
            color: $headerColor;
            font-family: $SourceSansProRegular;
            margin-bottom: 40px;
        }
        &__link{
            text-align: center;
            padding: 18px 74px;
            border: 2px solid $headerColor;
            display: block;
            color: $headerColor;
            font-family: $SourceSansProBold;
            font-size: 22px;
        }
    }
    &__arrow{
        margin: 0 auto;
        margin-top: 177px;
        display: block;
    }
}

.features {
    padding: 115px 0 240px 0;
    width: 100%;
    background-color: $contentBackground;

    &__heading {
        text-align: center;
        color: #010101;
        font-size: 32px;
        font-family: $SourceSansProBold;
        padding-bottom: 20px;
    }
    &__under-heading {
        text-align: center;
        color: #898989;
        font-family: $SourceSansProRegular;
        font-size: 20px;
    }
    &__articles {
        flex-wrap: wrap;

        &__items {
            margin-top: 90px;
            align-items: flex-start;

            &__img {
                margin-right: 35px;
            }
            &__heading {
                color: #010101;
                font-size: 22px;
                font-family: $SourceSansProBold;
            }
            &__description {
                font-size: 16px;
                font-family: $SourceSansProRegular;
                color: #898989;
                margin-top: 15px;
            }
        }
    }
}

.pricing {
    background-color: $contentBackground;
    width: 100%;

    &__heading {
        font-family: $SourceSansProBold;
        font-size: 32px;
        color: #010101;
        text-align: center;
        margin-bottom: 20px;
    }
    &__under-heading{
        text-align: center;
        color: #898989;
        font-family: $SourceSansProRegular;
        font-size: 20px;
        margin-bottom: 80px;
    }
    &__columns{
        margin-bottom: 195px;

        &__items{
            width: 165px;
            height: 400px;
            flex-direction: column;

            &__circle {
                border-radius: 50%;
                background-color: $circleColor;
                width: 100px;
                height: 100px;
            }
            &__circle-dark {
                border-radius: 50%;
                background-color: $circleDarkColor;
                width: 100px;
                height: 100px;
            }
            &__heading-box{
                flex-direction: column;
                width: 100%;
                height: 60px;
            }
            &__heading{
                text-align: center;
                color: #010101;
                font-family: $SourceSansProBold;
                font-size: 24px;
            }
            &__description{
                color: #898989;
                font-family: $SourceSansProRegular;
                font-size: 14px;
                text-align: center;
            }
            &__price-box{
                flex-direction: column;
                width: 100%;
                height: 60px;
            }
            &__price {
                color: #010101;
                text-align: center;
                font-size: 32px;
                font-family: $SourceSansProBold;
            }
            &__line {
                width: 50px;
                height: 2px;
                background-color: #010101;
            }
            &__time {
                font-size: 16px;
                font-family: $SourceSansProRegular;
                color: #898989;
                text-align: center;
            }
            &__link-box{
                width: 140px;
                height: 47px;
                border: 2px solid #000;
                cursor: pointer;

                &__link{
                    font-size: 16px;
                    font-family: $SourceSansProBold;
                    color: #010101;
                }
            }
        }
    }
}

.works {
    width: 100%;
    background-color: $contentBackground;
    padding-bottom: 265px;

    &__heading {
        font-size: 32px;
        color: #010101;
        font-family: $SourceSansProBold;
        text-align: center;
        margin-bottom: 24px;
    }
    &__under-heading {
        text-align: center;
        color: #898989;
        font-family: $SourceSansProRegular;
        font-size: 20px;
        margin-bottom: 5px;
    }

    &__list {
        width: 100%;
        flex-wrap: wrap;

        &__items{
            flex-direction: column;
            height: 285px;
            margin-top: 65px;

            &__heading{
                font-size: 22px;
                font-family: $SourceSansProBold;
                color: #010101;
                text-align: center;
            }

            &__description {
                font-size: 16px;
                font-family: $SourceSansProRegular;
                color: #898989;
                text-align: center;
            }
        }
    }
}

.team {
    width: 100%;
    background-color: $contentBackground;
    padding-bottom: 190px;

    &__heading{
        font-size: 32px;
        color: #010101;
        font-family: $SourceSansProBold;
        text-align: center;
        margin-bottom: 25px;
    }
    &__under-heading {
        text-align: center;
        color: #898989;
        font-family: $SourceSansProRegular;
        font-size: 20px;
        margin-bottom: 75px;
    }
    &__staff-list{
        width: 100%;

        &__items {
            flex-direction: column;
            height: 280px;
            width: 165px;

            &__name-box{
                flex-direction: column;
                height: 43px;
                width: 100%;

                &__name{
                    font-size: 22px;
                    font-family: $SourceSansProRegular;
                    color: #010101;
                    text-align: center;
                }

                &__proffesion{
                    font-size: 16px;
                    font-family: $SourceSansProRegular;
                    color: #898989;
                    text-align: center;
                }
            }

            &__description {
                color: #313841;
                font-size: 14px;
                text-align: center;
                font-family: $SourceSansProRegular;
            }

            &__social-icons{
                width: 63px;
            }
        }
    }
}

.stats {
    width: 100%;
    background-color: $contentBackground;
    padding-bottom: 215px;

    &__heading{
        font-size: 32px;
        color: #010101;
        font-family: $SourceSansProBold;
        text-align: center;
        margin-bottom: 25px;
    }
    &__under-heading {
        text-align: center;
        color: #898989;
        font-family: $SourceSansProRegular;
        font-size: 20px;
        margin-bottom: 52px;
    }

    &__info {
        width: 520px;
        margin: 0 auto;
        margin-bottom: 80px;

        &__items{
            height: 100px;
            flex-direction: column;

            &__number-box {
                height: 33px;
                flex-direction: column;

                &__number{
                    font-size: 24px;
                    font-family: $SourceSansProBold;
                    color: #010101;
                    text-align: center;
                }

                &__name{
                    font-size: 14px;
                    font-family: $SourceSansProRegular;
                    color: #898989;
                    text-align: center;
                }
            }
        }
    }

    &__costumer{
        flex-direction: column;
        margin: 0 auto;
        height: 265px;

        &__name-box{
            flex-direction: column;
            height: 43px;

            &__name{
                font-size: 22px;
                font-family: $SourceSansProRegular;
                color: #010101;
                text-align: center;
            }

            &__proffesion{
                font-size: 16px;
                font-family: $SourceSansProRegular;
                color: #898989;
                text-align: center;
            }
        }
        &__comment{
            width: 615px;
            height: 65px;

            &__top{
                left: 0;
                top: 0;
            }

            &__text {
                font-size: 20px;
                font-family: $SourceSansProRegular;
                color: #898989;
                text-align: center;
            }

            &__bottom {
                right: 0;
                bottom: 0;
            }
        }
    }
}

.contact {
    width: 100%;
    background-color: $contentBackground;
    padding-bottom: 75px;

    &__heading{
        font-size: 32px;
        color: #010101;
        font-family: $SourceSansProBold;
        text-align: center;
        margin-bottom: 20px;
    }
    &__under-heading {
        text-align: center;
        color: #898989;
        font-family: $SourceSansProRegular;
        font-size: 20px;
        margin-bottom: 50px;
    }
    &__info-list {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 43px;

        &__items{
            flex-direction: column;
            height: 80px;

            &__text-box{
                flex-direction: column;
                height: 40px;

                &__heading{
                    font-size: 24px;
                    font-family: $SourceSansProRegular;
                    color: #010101;
                    text-align: center;
                }

                &__description{
                    font-size: 14px;
                    font-family: $SourceSansProRegular;
                    color: #898989;
                    text-align: center;
                }
            }
        }
    }

    &__form{
        flex-direction: column;
        margin: 0 auto;
        height: 439px;
        width: 480px;

        &__input{
            width: 100%;
            height: 55px;
            border: 2px solid #000;
            padding-left: 16px;
            font-size: 16px;
            color: #010101;
            font-family: $SourceSansProRegular;
        }
        &__input::placeholder{
            color: #898989;
            font-size: 16px;
            font-family: $SourceSansProRegular;
        }
        &__textarea{
            width: 100%;
            height: 207px;
            border: 2px solid #000;
            padding-left: 16px;
            font-size: 16px;
            color: #010101;
            font-family: $SourceSansProRegular;
        }
        &__textarea::placeholder{
            color: #898989;
            font-size: 16px;
            font-family: $SourceSansProRegular;
        }
        &__submit{
            background-color: #000;
            color: #fff;
            font-size: 16px;
            font-family: $SourceSansProBold;
            padding: 20px 30px;
            cursor: pointer;
        }
    }
}

.footer{
    width: 100%;
    background-color: $footerBackground;
    padding: 95px 0 280px 0;

    &__heading{
        font-size: 32px;
        color: #fff;
        font-family: $SourceSansProBold;
        text-align: center;
        margin-bottom: 24px;
    }
    &__under-heading {
        text-align: center;
        color: #898989;
        font-family: $SourceSansProRegular;
        font-size: 20px;
        margin-bottom: 40px;
    }

    &__form{
        margin: 0 auto;
        width: 738px;
        height: 51px;
        margin-bottom: 115px;

        &__input{
            padding-left: 24px;
            width: 597px;
            height: 100%;
            font-size: 16px;
            color: #010101;
            font-family: $SourceSansProRegular;
        }
        &__input::placeholder{
            color: #898989;
            font-size: 16px;
            font-family: $SourceSansProRegular;
        }

        &__submit {
            background-color: #fff;
            padding: 0 41px;
            height: 100%;
            font-size: 16px;
            font-family: $SourceSansProBold;
            color: #010101;
            cursor: pointer;
        }
    }
    &__navigation{
        align-items: flex-start;

        &__items{
            font-size: 16px;
            font-family: $SourceSansProRegular;
            color: #fff;
            line-height: 20px;
        }
    }
}