$headerBackground: #fcdb00;
$headerColor: #222;
$SourceSansProRegular: 'Source Sans Pro Regular';
$FontAwesome: 'FontAwesome';
$SourceSansProBold: 'Source Sans Pro Bold';
$contentBackground: #fff;
$circleColor: #ebebeb;
$circleDarkColor: #010101;
$footerBackground: #010101;