.team {
    width: 100%;
    background-color: $contentBackground;
    padding-bottom: 190px;

    &__heading{
        font-size: 32px;
        color: #010101;
        font-family: $SourceSansProBold;
        text-align: center;
        margin-bottom: 25px;
    }
    &__under-heading {
        text-align: center;
        color: #898989;
        font-family: $SourceSansProRegular;
        font-size: 20px;
        margin-bottom: 75px;
    }
    &__staff-list{
        width: 100%;

        &__items {
            flex-direction: column;
            height: 280px;
            width: 165px;

            &__name-box{
                flex-direction: column;
                height: 43px;
                width: 100%;

                &__name{
                    font-size: 22px;
                    font-family: $SourceSansProRegular;
                    color: #010101;
                    text-align: center;
                }

                &__proffesion{
                    font-size: 16px;
                    font-family: $SourceSansProRegular;
                    color: #898989;
                    text-align: center;
                }
            }

            &__description {
                color: #313841;
                font-size: 14px;
                text-align: center;
                font-family: $SourceSansProRegular;
            }

            &__social-icons{
                width: 63px;
            }
        }
    }
}