.works {
    width: 100%;
    background-color: $contentBackground;
    padding-bottom: 265px;

    &__heading {
        font-size: 32px;
        color: #010101;
        font-family: $SourceSansProBold;
        text-align: center;
        margin-bottom: 24px;
    }
    &__under-heading {
        text-align: center;
        color: #898989;
        font-family: $SourceSansProRegular;
        font-size: 20px;
        margin-bottom: 5px;
    }

    &__list {
        width: 100%;
        flex-wrap: wrap;

        &__items{
            flex-direction: column;
            height: 285px;
            margin-top: 65px;

            &__heading{
                font-size: 22px;
                font-family: $SourceSansProBold;
                color: #010101;
                text-align: center;
            }

            &__description {
                font-size: 16px;
                font-family: $SourceSansProRegular;
                color: #898989;
                text-align: center;
            }
        }
    }
}